{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Emissão de Certficados - Casa de Atena{% endblock %}

{% block content %} 

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<section class="botoes-organizador">
  <div class="botao-organizador">
    <a href="{% url 'inscricao' %}">
      Voltar
    </a>
  </div>

  <div class="botao-organizador">
    <a href="{% url 'ev' %}">
      Cadastrar eventos
    </a>
  </div>

  <div class="botao-organizador">
    <a href="{% url 'even' %}">
      Visualizar eventos
    </a>
  </div>

  <div class="botao-organizador">
    <a href="{% url 'listagem_usuarios' %}">
      Visualizar usuários
    </a>
  </div>

  <div class="botao-organizador">
    <a href="{% url 'registro' %}">
      Registros
    </a>
  </div>

  <div class="botao-organizador">
      <form method="post" action="{% url 'emitir_certificados' %}"> 
          {% csrf_token %}
          <button type="submit">
              Emitir certificados 
          </button>
      </form>
  </div>
</section>
<div class="emissao-certi-container">
    <div class="emissao-certi-titulo">
        <h1>Emissão de certificados</h1>
    </div>

    <div class="emissao-certi-quadro">
        <div class="eventos-lista">
          {% for evento in eventos %}
            <div class="eventos-itens">
              <h3>{{ evento.nome }} - {{ evento.tipoevento }}</h3>

              {% if evento.imagem %}
                <div class="evento-imagem">
                    <img src="{{ evento.imagem.url }}" alt="Imagem do evento {{ evento.nome }}">
                </div>
              {% else %}
                <div>
                  <i>imagem não disponível</i>
                </div>
              {% endif %}
              <p><strong>Local:</strong> {{ evento.local }}</p> 
              <p><strong>Data:</strong> {{ evento.dataI }} até {{ evento.dataF }}</p> 

              <div class="botao-ctf"> 
                  <a href="{% url 'editar_evento' pk=evento.pk %}" class="botao-emissao-ctf">Editar evento</a>

                  <form method="post" action="{% url 'deletar_evento' evento.id_evento %}">
                    {% csrf_token %}
                    <button type="submit" class="botao-emissao-ctf">Deletar evento</button>
                  </form>
              </div>
            </div>
          {% endfor %}
        </div>  
    </div>

{% endblock %}   